@import-normalize;
@import 'variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-main;
    font-size: $font-size;
    font-weight: $font-main-weight;
    width: 100vw;
    height: 100vh;
    background-color: $white;
}

.app-container {
    width: 375px;
    margin: 0 auto;
}
