@import 'styles/variables';
@import 'styles/mixin';

.TestimonialsSection {
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;

    h2 {
        @include font($grayish-blue);
        text-transform: uppercase;
        text-align: center;
        font-size: 1rem;
        letter-spacing: 4px;
    }

    &_testimonials {
        display: flex;
        flex-flow: column nowrap;
    }
}

@media screen and (min-width: 1024px) {
    .TestimonialsSection {
        padding: 8rem;

        h2 {
            font-size: 1.5rem;
            letter-spacing: 6px;
        }

        &_testimonials {
            flex-flow: row nowrap;
            gap: 2rem;
        }
    }
}