@import 'styles/variables';
@import 'styles/mixin';

.TestimonialsSection {
    padding: 4rem 1.5rem;

    h2 {
        @include font($grayish-blue);
        text-transform: uppercase;
        text-align: center;
        font-size: 1rem;
        letter-spacing: 4px;
    }
}