@import 'styles/variables';
@import 'styles/mixin';

.Testimonial {
    text-align: center;
    margin-top: 4rem;

    &_image {
        width: 80px;
        height: 80px;
        border-radius: 50px;
        overflow: hidden;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    p {
        color: $dark-grayish-blue;
        line-height: 2rem;
        margin: 2rem 0;
    }

    &_author {
        @include font($very-dark-desaturated-blue);
        margin: .5rem 0;
    }

    &_job {
        color: $grayish-blue;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .Testimonial {
        p {
            margin: 4rem 0;
        }
    }
}