@import 'styles/variables';
@import 'styles/mixin';

.Header {
    position: relative;
    background-color: $background-blue;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background: $background-blue url('../../assets/images/mobile/image-header.jpg') no-repeat center;
    height: 540px;

    &_bar {
        display: flex;
        justify-content: space-between;
        padding: 2.5rem 1.5rem;
    }

    h1 {
        @include font($white);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 2.5rem;
        margin: 3rem 0;
    }

    &_arrowIcon {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1440px) {
    .Header {
        height: 800px;

        &_bar {
            padding: 3.5rem 2.5rem;

            a {
                // this is bad
                transform: scale(150%);
                padding-left: 2rem;
            }
        }

        h1 {
            font-size: 3.5rem;
            margin: 6rem 0;
        }
    }
}
