@import 'styles/variables';

.Gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;

    &_image {

        img {
            height: 100%;
            width: 100%;
        }
    }
}