@import 'styles/variables';

.Gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    &_image {

        img {
            width: 100%;
        }
    }
}