@import 'styles/variables';

.Footer {
    display: flex;
    justify-content: center;
    background-color: $background-footer;
    
    &_container {
        width: 375px;
        padding: 4rem 2.5rem;
        text-align: center;
    }

    &_logo {
        margin-bottom: 2.5rem;
        transform: scale(140%);

        &:hover {
            filter: brightness(100);
        }
    }

    nav {
        margin-bottom: 4rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: $dark-moderate-cyan;

            &:hover {
                color: $white;
            }
        }
    }

    &_socialMedia {
        padding: 1rem 2rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;

        a:hover {
            filter: brightness(100);
        }
    }
}