@import 'styles/variables';

.NavMenu {
    &_button {
        cursor: pointer;
        opacity: 100%;
    }

    &_list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 90%;
        height: 55%;
        background-color: $white;
        list-style: none;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(-50%);
            border: 35px solid transparent;
            border-right: 35px solid $white;
        }

        li {
            a {
                color: $dark-grayish-blue;
                text-decoration: none;
            }

            &:last-child {
                background-color: $yellow;
                padding: 1rem 2.5rem;
                border-radius: 50px;

                a {
                    font-family: $font-accent;
                    color: $very-dark-desaturated-blue;
                }
            }
        }

        &___hidden {
            display: none;
        }

    }
}